video {
    width: 100% !important;
    height: auto;
}

html,
body {
    height: 100%;
}

body {
    -webkit-app-region: drag
}

input,
a,
video,
table,
.modal,
.jumbotron-settings {
    -webkit-app-region: no-drag
}

.buttons {
    height: 30px;
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center;
    padding-top: 2px;
}

.app-title {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.info,
.minimize,
.exit,
.back {
    margin-right: 10px;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.back {
    margin-left: 10px;
}

.parentContainer {
    min-height: 95%;
}

.footer {
    height: 40px;
    margin-top: -40px;
    margin-left: 20px;
}

.circuit-status {
    font-weight: bold;
}

select.form-control {
    width: 25%;
}